@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #27272a;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3f3f46;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #312e81;
    }
}

@media (prefers-color-scheme: light) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d4d4d8;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #c7d2fe;
    }
}
